[submodule "auth_service_protos"]
	path = auth_service/protos
	url = git@ssh.dev.azure.com:v3/dipdev/TheTeam/Protos
	branch = main
[submodule "gateway_service_protos"]
	path = gateway_service/protos
	url = git@ssh.dev.azure.com:v3/dipdev/TheTeam/Protos
	branch = main
[submodule "time_tracking_service_protos"]
	path = time_tracking_service/protos
	url = git@ssh.dev.azure.com:v3/dipdev/TheTeam/Protos
	branch = main
